.radio-button [type="radio"]:checked,
.radio-button [type="radio"]:not(:checked) {
    display: none;
}

.radio-button [type="radio"]:checked + label,
.radio-button [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    line-height: 21px;
    display: inline-block;
}

/* setting radio button default border */
.radio-button [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 16px;
    height: 16px;
    border: 1px solid #ECECEC;
    border-radius: 100%;
    background: transparent;
}
/* setting radio button checked border */
.radio-button [type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 16px;
    height: 16px;
    border: 1px solid #C73238;
    border-radius: 100%;
    background: transparent;
}

/* setting radio button inside circle */
.radio-button [type="radio"]:checked + label:after,
.radio-button [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #C73238;
    position: absolute;
    top: 5px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.radio-button [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.radio-button [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}